* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(251, 246, 248);
    color:#7b768d;
}

header {
    background-color: rgb(250, 41, 124);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    /* vertical, horizontal */
    position: fixed;
    width: 100%;
    z-index: 999;
}

header nav a {
    color: #FFFFFF;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}    

section.titulo {   
    padding-top: 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

section.form {
    width: 99%;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

p.sugestao {
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    padding: 12px;
}

.form-grupo {
    width: 550px;
    height: auto;
    margin-bottom: 20px;

}

label {
    display: flex;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 550;
    gap: 6px;
}

#nome,
#email,
#telefone {
    width: 99%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
}

button {
    width: 99%;
    padding: 10px;
    background-color: rgb(245, 115, 167);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(250, 41, 124);
}

.botaoRS {
    color: #f7f8f9;
    text-decoration: none;
    margin: 16px;
}

footer {
    background-color: rgb(250, 41, 124);
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 45px 80px;
    /* vertical, horizontal */
    font-size: 13px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
    color: #fff;
}

footer nav a {
    color: #fff;
    display: block;
    margin: 16px;
    text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
    font-size: 13px;
    color: #fff;
}

footer p a {
    color: #fff;
    text-decoration: none;

}

#copyright {
    background-color: rgb(245, 115, 167);
    color: #FFFFFF;
    padding: 24px;
    text-align: center;
    font-size: 13px;
}

#copyright a {
    color: #6a0342;
    text-decoration: none;
    font-size: 13px;
}