* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(251, 236, 242);
    color: #263138;
}

header {
    background-color: rgb(250, 41, 124);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px;
    /* vertical, horizontal */
    position: fixed;
    width: 100%;
    z-index: 999;
}

header nav a {
    color: #FFFFFF;
    font-weight: 600;
    padding: 18px;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}

#inicio {
    background-image: url(./img/banner.png);
    background-size:cover;
    background-position:bottom;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;    
    display: flex;
    justify-content:center;
    align-items:flex-end;
    margin-bottom: 95px;
}

.paragrafo-principal{
    text-align: center;
    display: flex;    
    color:#dd2195;
    padding-top: 50px;   
    font-size: 15px;  
    line-height: 20px;    
}

h2 {
    font-weight: 600;
    font-size: 38px;
    margin-bottom: 32px;
}

h3 {
    font-weight: 600;
    font-size: 20px;
}

.paragrafo {
    line-height: 130%;
    padding: 15px 0px 15px 0px;
}

.paragrafo_produtos {
    line-height: 50%;
    padding: 25px 5px 45px 5px;
}

.botao {
    background-color: rgb(250, 41, 124);
    border-radius: 8px;
    color: #FFFFFF;
    /* vertical, horizontal */
    padding: 15px 35px;
    text-decoration: none;
    font-size: 15px;
}

.botao-transparente {
    background-color: transparent;
    color: rgb(250, 41, 124);
    font-size: 15px;
    text-decoration: none;
}

.botao-transparente:hover {
    color: #a30df3;
}

#quemSomos {
    display: flex;
    align-items: 64px;
    gap: 64px;
    /* vertical, horizontal */
    padding: 64px 80px;
    text-align: justify;
}

#quemSomos li {
    margin: 32px 32px;
    line-height: 150%;
}

#quemSomos img {
    border-radius: 5px;
    padding: 5px 5px;
}

#apresentacao {
    padding: 14px 80px;
    /* vertical, horizontal */
    text-align: center;
}

#apresentacao iframe {
    border-radius: 5px;
    padding-bottom: 105px;
}

#produtos {
    padding: 64px 80px;
    /* vertical, horizontal */
    text-align: center;
    margin-bottom: 55px;
}

#produtos img {
    border-radius: 5px;
    margin-left: 32px;
    justify-content: space-evenly;
    padding-bottom: 15px;
}

#localizacao {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
    /* vertical, horizontal */
}

#localizacao iframe {
    border-radius: 5px;
}

.ondeEstamos {
    position: relative;
    padding: 35px;
}

.botaoRS {
    color: #f7f8f9;
    text-decoration: none;
    margin: 16px;
}

footer {
    background-color: rgb(250, 41, 124);
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 45px 80px;
    /* vertical, horizontal */
    font-size: 13px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
    color: #fff;
}

footer nav a {
    color: #fff;
    display: block;
    margin: 16px;
    text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
    font-size: 13px;
    color: #fff;
}

footer p a {
    color: #fff;
    text-decoration: none;

}

#copyright {
    background-color: rgb(245, 115, 167);
    color: #FFFFFF;
    padding: 24px;
    text-align: center;
    font-size: 13px;
}

#copyright a {
    color: #dd2195;
    text-decoration: none;
    font-size: 13px;
}