  * {
      box-sizing: border-box;
      font-family: 'Montserrat', sans-serif;
      margin: 0;
      padding: 0;
  }

  body {
      background-color: rgb(251, 236, 242);
      color: #263138;
  }

  header {
      background-color: rgb(250, 41, 124);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 80px;/* vertical, horizontal */
      position: fixed;
      width: 100%;
      z-index: 999;
  }

  header nav a {
      color: #FFFFFF;
      font-weight: 600;
      padding: 32px;
      text-decoration: none;
      font-size: 12px;
  }

  h1 {
      width: 100%;
      text-align: center;
      margin: 0 auto;
      padding-top: 90px;
      display: flex;
      justify-content: center;
  }


  .container {
      width: 97%;
      margin: 15px;
      padding: 28px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }

  .produto {
      /* background-color:  rgb(246, 189, 211); */
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 25px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .produto img {
      width: 265px;
      height: 265px;
      border-radius: 5px;
      margin-bottom: 15px;
  }

  .produto h3 {
      margin-top: 15px;
      margin-bottom: 5px;
  }

  .produto p {
      color: #555;
      margin-bottom: 10px;
      font-size: 12px;
  }

  .produto .preco {
      font-weight: bold;
      color: #333;
      font-size: 15px;
  }

  button {
      padding: 10px 20px;/* vertical, horizontal */
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  button:hover {
      background-color: #0056b3;
  }


  .botaoRS {
      color: #f7f8f9;
      text-decoration: none;
      margin: 16px;
  }

  footer {
      background-color: rgb(250, 41, 124);
      display: flex;
      justify-content: space-between;
      gap: 60px;
      padding: 45px 80px;/* vertical, horizontal */
      font-size: 12px;
  }

  footer img,
  footer .titulo {
      display: block;
      font-weight: 600;
      margin-bottom: 24px;
  }

  footer nav a {
      color: #263138;
      display: block;
      margin: 16px;
      text-decoration: none;
  }

  footer p {
      margin-bottom: 16px;
      max-width: 350px;

  }

  footer p a {
      color: #263138;
      text-decoration: none;

  }

  #copyright {
      background-color: rgb(245, 115, 167);
      color: #FFFFFF;
      padding: 24px;
      text-align: center;
      font-size: 12px;
  }

  #copyright a {
      color: #64033f;
      text-decoration: none;
      font-size: 12px;
  }